
.form-login{
    align-items: center;
    background-color: #fff;
    margin: auto;
}

.container-fluid{

    background-color:#20B2FF;

}
.image-container{
    background: url("../images/login_background.png") center no-repeat;
    background-size: 70%;
    height: 100vh;


}

.form-container{
    display: flex;
    justify-content: center;
    background-color: #fff;
}