
.image-container{
    background: url("../images/login_background.png")  no-repeat;
    background-size: 600px 1024px;
    height: 100vh;
    background-color:#20B2FF;

}

.form-container{
    background-color:#20B2FF;
    display: flex;
    justify-content: center;

}