
@import views.html.admin.projectdetails;

@projectdetails("comment"){
    <div class="row">
        <div class="col-md-12">
            <textarea class="form-control" id="mainComment" placeholder="Add Public Comment" cols="30" rows="2"></textarea><br>
            <button style="float:right" class="btn-primary btn" id="addComment">Add Comment</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2><b>335 Comments</b></h2>
            <div class="userComments">
                <div class="comment">
                    <div class="user">Senaid B <span class="time">2019-07-15</span></div>
                    <div class="userComment">this is my comment</div>
                    <div class="replies">
                        <div class="comment">
                            <div class="user">Senaid B <span class="time">2019-07-15</span></div>
                            <div class="userComment">this is my comment</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
