@import play.mvc.Http.Request
@(formproject: Form[Project])(implicit request: Request, messages: play.i18n.Messages)
@import views.html.admin.dashboard;
@import helper._

@dashboard("projects") {

    @helper.form(action=routes.ProjectController.projectRegister(),Symbol("method")-> "post") {
        @helper.CSRF.formField

        <div class="form-group">
            @helper.inputText(formproject("title"),Symbol("type") -> "text",Symbol("class") -> "form-control")

            @helper.textarea(formproject("content"),Symbol("class") -> "form-control")

            @helper.inputFile(formproject("image"),Symbol("enctype") -> "multipart/form-data")
            <button type="submit" class="btn btn-primary">Add Project</button>
        </div>
    }



}
