@import play.mvc.Http.Request
@(forms: Form[User])(implicit request: Request, messages: play.i18n.Messages)
@import views.html.admin.dashboard;
@import helper._

@dashboard("register") {
        @helper.form(action=routes.RegisterController.userRegister(),Symbol("method")-> "post",Symbol("id") -> "registration") {
            @helper.CSRF.formField

                @helper.inputText(forms("username"),
                    Symbol("type") -> "text",
                    Symbol("class") -> "form-control",
                    Symbol("name") -> "username",
                    Symbol("id") -> "username")

                @helper.inputText(forms("email"),
                    Symbol("type") -> "email",
                    Symbol("data-validation-engine") -> "validate[required,custom[email]]",
                    Symbol("data-errormessage-value-missing") -> "Email is required!",
                    Symbol("name") -> "email",
                    Symbol("id") -> "email")


                @helper.inputText(forms("password"),Symbol("type") -> "password",
                    Symbol("class") -> "form-control",
                    Symbol("name") -> "password",
                    Symbol("id") -> "password")

                @helper.inputText(forms("password2"),Symbol("type") -> "password",
                    Symbol("class") -> "form-control",
                    Symbol("name") -> "password2")

                @helper.inputRadioGroup(forms("actor"),options = Seq("Admin"->"Admin","User"->"User"))


                <button type="submit" class="btn btn-primary">Add User</button>
        }

}
