

@import models.User

@(userList: List[User])
@import views.html.admin.dashboard;

@dashboard("users"){


    <div class="table-responsive">
        <table class="table table-sm table-dark">
            <thead>
                <th scope="col">ID</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Type</th>
            </thead>
            <tbody>
                @for(user <- userList) {
                    <tr scope="row">
                        <td>@user.getId</td>
                        <td>@user.getUsername</td>
                        <td>@user.getEmail</td>
                        <td>@user.getActor</td>
                        <td>
                            <a href="@routes.UsersController.deleteUser(user.getId)" class="btn btn-outline-danger btn-sm"
                            onclick="return confirmDel();">
                                <i class="fa fa-trash fa-1x" aria-hidden="true"></i>
                            </a>
                        </td>
                        <td>

                            <a href="@routes.UsersController.updateUser(user.getId)" class="btn btn-outline-danger btn-sm">
                                <i class="fa fa-pencil-square fa-1x" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr scope="row">

                </tr>
            </tfoot>
        </table>
    </div>
}