

@import models.User

@(userList: List[User])
@import views.html.admin.dashboard;

@dashboard("users"){


    <div class="table-responsive">
        <table class="table table-sm table-dark">
            <thead>
                <th scope="col">ID</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
            </thead>
            <tbody>
                @for(user <- userList) {
                    <tr scope="row">
                        <td>@user.getId</td>
                        <td>@user.getUsername</td>
                        <td>@user.getEmail</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr scope="row">

                </tr>
            </tfoot>
        </table>
    </div>
}