@import models.Project

@(projectList: List[Project])
<!DOCTYPE html>
<html lang="en">

    <head>
        <title> Projects </title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/style_main.css")">
        <link href="@routes.Assets.versioned("../../../public/font-awesome/css/font-awesome.css.min.css")" rel="stylesheet" media="screen">

    </head>

    <body>
        <section id="faci">
            <div class="container">
                <div class="title">
                    <h1>faci</h1>
                    <p>  hello ed&lib</p>
                </div>
                @for(project <- projectList) {
                <div class="row">
                    <div class="col-md-4">
                        <div class="card text-center">
                         @*   <img src=@project.getImage class="card-img-top">*@
                        <td><a href="@routes.ProjectController.projectDetails(project.getId)"><i>@project.getTitle </i></a></td>
                        <div class="card-body">
                                <h5 class="card-body">@project.getTitle</h5>
                                @*   <p class="card-text"> @project.getImage</p>*@
                                <a href="#">Check gym</a>
                            </div>

                        </div>
                    </div>
                </div>}

            </div>

        </section>







        <script src="@routes.Assets.versioned("js/jquery-3.6.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("js/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("js/custom.js")" type="text/javascript"></script>
    </body>

</html>




