@import play.mvc.Http.Request
@import helper._
@(form: Form[User])(implicit request: Request, messages: play.i18n.Messages)
@import views.html.login.main;

@main("Home Page"){

               @helper.form(action=routes.LoginController.userLogin(),Symbol("class") -> "form-login",Symbol("method")-> "post") {
                       @helper.CSRF.formField
                       <div class="form-group">

                       @helper.inputText(form("Email"),Symbol("type") -> "email",Symbol("class") -> "form-control")
                           <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>

                       @helper.inputText(form("Password"),Symbol("type") -> "password",Symbol("class") -> "form-control")
                           <div class="form-group form-check">
                               <input type="checkbox" class="form-check-input" id="exampleCheck1">
                               <label class="form-check-label" for="exampleCheck1">Check me out</label>
                           </div>
                           <button type="submit" class="btn btn-primary">Submit</button>
                       </div>
                   }



}
